**/metastore_db
*.crc
*.iml
*.sc
*.zip
*.log
.DS_Store
.cache
.classpath
.externalToolBuilders
.history
.idea
.project
.settings/
.worksheet/

target
dependency-reduced-pom.xml
/bin/
/.idea/
input/*.json
metastore_db
output/*
